<!-- Rodapé -->
    <footer class="py-4 bg-dark text-center">
        <div class="container">
            <div class="footer-links">
                <a href="#">Home</a>
                <a href="#">Sobre</a>
                <a href="#">Galeria</a>
                <a href="#">Espaço Maker</a>
                <a href="#">Eventos</a>
                <a href="#">Contato</a>
            </div>
            <p class="mb-0">&copy; 2025 Clube de Robótica Suassuna. Todos os direitos reservados.</p>
        </div>
    </footer>