<!--Teste usando a pagina index como base. Puxando todos os elementos que estão no index com exceção com que estão dentro do bloco.  - Liandro-->
{% extends "index.html" %}

{% block titulo %}
    Contato
{% endblock %}

{% block body%}
    {% block area_cabecalho%}
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo eveniet facilis sequi qui illum, corporis beatae voluptate pariatur dolore. Officiis quaerat libero illo ut maxime cum, optio ad laborum magnam.
    {% endblock %}
    <p>aaaaaaaaaaaaaaaaaaa</p>
{% endblock %}